[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
sklearn = "*"
flask = "*"
seaborn = "*"
gunicorn = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
